html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a{
	text-decoration: none;
	color: black;
}
img {
    height: 100%;
    width: 100%;
    object-fit: contain
}
.aSelect, .aView{
  background: linear-gradient(to bottom right, #030303, #313131);
}